.text {

    background: mistyrose;
    border-width: 5px;
    border-style: double;
    border-color: blueviolet; 
    
}

.content {
    border-style: dotted;
    border-width: 5px;
    border-color: hotpink;
}

.morecontent {
    background: thistle;
}